// Padding indents
.padding-0 {
    padding: 0 !important;
}

.padding-xs {
    padding: $indent-xs;
}

.padding-s {
    padding: $indent-s !important;
}

.padding-m {
    padding: $indent-m !important;
}

.padding-l {
    padding: $indent-l;
}

.padding-xl {
    padding: $indent-xl;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-left-s {
    padding-left: $indent-s;
}

.padding-right-0 {
    padding-right: 0;
}

.padding-right-s {
    padding-right: $indent-s;
}

.padding-top-xs {
    padding-top: $indent-xs;
}

.padding-top-s {
    padding-top: $indent-s;
}

.padding-top-sm {
    padding-top: $indent-sm;
}

.padding-top-m {
    padding-top: $indent-m;
}

.padding-top-l {
    padding-top: $indent-l;
}

.padding-top-xl {
    padding-top: $indent-xl;
}

.padding-top-xxl {
    padding-top: $indent-xxl;
}

.padding-bottom-xs {
    padding-bottom: $indent-xs;
}

.padding-bottom-m {
    padding-bottom: $indent-m;
}

.padding-bottom-l {
    padding-bottom: $indent-l;
}

.padding-bottom-xl {
    padding-bottom: $indent-xl;
}

.padding-bottom-xxl {
    padding-bottom: $indent-xxl;
}

// Margin indents

.margin-0 {
    margin: 0;
}

.margin-xs {
    margin: $indent-xs;
}

.margin-s {
    margin: $indent-s;
}

.margin-m {
    margin: $indent-m;
}

.margin-l {
    margin: $indent-l;
}

.margin-xl {
    margin: $indent-xl;
}

.margin-left-0 {
    margin-left: 0;
}

.margin-left-xs {
    margin-left: $indent-xs;
}

.margin-left-s {
    margin-left: $indent-s;
}

.margin-left-m {
    margin-left: $indent-m;
}

.margin-left-l {
    margin-left: $indent-l;
}

.margin-left-xl {
    margin-left: $indent-xl;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-top-xs {
    margin-top: $indent-xs;
}

.margin-top-s {
    margin-top: $indent-s;
}

.margin-top-sm {
    margin-top: $indent-sm;
}

.margin-top-m {
    margin-top: $indent-m;
}

.margin-top-l {
    margin-top: $indent-l;
}

.margin-top-xl {
    margin-top: $indent-xl !important;
}

.margin-top-xxl {
    margin-top: $indent-xxl !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-xs {
    margin-bottom: $indent-xs;
}

.margin-bottom-s {
    margin-bottom: $indent-s;
}

.margin-bottom-m {
    margin-bottom: $indent-m !important;
}

.margin-bottom-l {
    margin-bottom: $indent-l;
}

.margin-bottom-xl {
    margin-bottom: $indent-xl !important;
}

.margin-bottom-xxl {
    margin-bottom: $indent-xxl !important;
}

.margin-right-0 {
    margin-right: 0;
}

.margin-right-xs {
    margin-right: $indent-xs;
}

.margin-right-s {
    margin-right: $indent-s;
}

.margin-right-m {
    margin-right: $indent-m;
}

.margin-right-l {
    margin-right: $indent-l;
}

.margin-right-xl {
    margin-right: $indent-xl;
}

//Font sizes

.font-size-xxs {
    font-size: $font-xxs;
}

.font-size-xs {
    font-size: $font-xxs;
}

.font-size-s {
    font-size: $font-s;
}

.font-size-m {
    font-size: $font-m;
}

.font-size-l {
    font-size: $font-l;
}

.font-size-xl {
    font-size: $font-xl;
}

.font-size-xxl {
    font-size: $font-xxl;
}

.font-size-xxxl {
    font-size: $font-xxxl;
}

.font-size-xxxxl {
    font-size: $font-xxxxl;
}

.font-size-xxxxxl {
    font-size: $font-xxxxxl;
}

.display-none {
    display: none!important;
}
